.footer{
  background-color: @background-grey;
}

.footer__social-links{
  border-bottom: 1px solid #e5e5e5;
}

.footer__social-links i{

}

.footer__instagram{

}

.footer__facebook{

}

.footer__twitter{

}

.footer__autor{
  margin: 0;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}
