.form-header {
  .clear-block;
}

.form-header__name {
  .clear-block;
  padding: 77px 44px;
  text-align: center;
  background-color: #f1f1f1;
}

.form__checkbox,
.form__radio {
  display: none;
}

.form-header__description {
  .clear-block;
  font-size: 13px;
  line-height: 24px;
  padding: 30px;
}

.form__label {
  position: relative;
  padding-left: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form__radio:hover + .form__label::before {
  box-shadow: 0 0 0 2px #63d1bb;
}

.form__radio:checked + .form__label::before {
  background-color: #63d1bb;
  box-shadow: 0 0 0 2px #63d1bb;
}

.form__radio:active + .form__label::before {
  box-shadow: 0 0 0 2px rgba(68, 68, 68, 0.3);
}

.form__checkbox:hover + .form__label::before {
  border: 2px solid #63d1bb;
}

.form__radio + .form__label::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 5px;
  width: 16px;
  height: 16px;
  border: 9px solid #ffffff;
  box-shadow: 0 0 0 2px #444444;
  border-radius: 50%;
}

.form__checkbox + .form__label {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 22px;
}

.form__checkbox + .form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
}

.form__checkbox:active + .form__label::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.form__checkbox:checked + .form__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

.form__necessarily {
  font-size: 14px;
  line-height: 16px;
}

.from__fieldset,
.form__name {
  .clear-block;
  border: none;
}

.from__fieldset {
  padding-top: 27px;
  padding-bottom: 27px;
  .padding-main;
}

.form__name {
  position: relative;
  margin-bottom: 28px;
  color: @light-green;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
}

.form__name span {
  position: relative;
  display: block;
  max-width: 62px;
  text-transform: uppercase;
  background-color: #ffffff;
  z-index: 999;
}

.form__name-email span {
  max-width: 81px;
}

.form__name::after {
  content: "";
  width: 260px;
  display: block;
  position: relative;
  top: -8px;
  border-bottom: 1px solid @light-green;
  z-index: 995;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__container input[type="text"] {
  width: 227px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 33px;
  margin-bottom: 21px;
  color: #d2d2d2;
  font-size: 17px;
  line-height: 18px;
  border: 0;
  border-bottom: 2px solid black;
}

.form__container input[type="text"]:focus {
  color: black;
}

.form__container input[type="text"]:hover {
  border-bottom: 2px solid #63d1bb;
}

.form__label-fio {
  padding-left: 0;
}

.form__button-container {
  padding: 0 30px;
}

.form__button-container button {
  font-size: 17px;
  line-height: 16px;
  padding: 19px 45px;
}

.form__textarea {
  padding: 17px;
  width: 260px;
  min-height: 138px;

  font-size: 17px;
  line-height: 18px;

  font-family: "OpenSans", sans-serif;

  border: 2px solid #444444;

  box-sizing: border-box;
}

@media screen and (min-width: @media-screen-tablet) {
  .form-header__name {
    padding-top: 90px;
    padding-bottom: 91px;
    margin-top: -72px;

    font-size: 43px;
    line-height: 50px;
  }

  .body__grey-color .form__name {
    background-color: @background-grey;
  }

  .body__grey-color span {
    background-color: @background-grey;
  }

  .form-header__description {
    padding: 70px 50px;
    padding-bottom: 0px;
    padding-left: 225px;
    font-size: 17px;
    line-height: 30px;
  }

  .form-container {
    padding: 0;
  }

  .form__name::after {
    display: none;
  }

  .from__fieldset {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    padding-top: 67px;
    padding-bottom: 48px;
  }

  .form__name {
    flex-basis: 167px;
  }

  .form__label {
    padding-top: 20px;
    padding-bottom: 40px;

    font-size: 19px;
    line-height: 18px;
  }

  .form__button-container {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
  }

  .button {
    order: 1;
    padding-left: 28px;
    padding-right: 28px;
    width: 230px;
    margin-right: auto;
    font-size: 17px;
    line-height: 16px;
  }

  .form__necessarily {
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }

  .form__radio + .form__label::before {
    width: 22px;
    height: 22px;
    border: 13px solid #ffffff;
  }

  .form__container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
