.form-header{
  .clear-block;
}

.form-header__name{
  .clear-block;
  padding: 77px 44px;

  text-align: center;

  background-color: #f1f1f1;
}

.form-container{
  .padding-main;
}

.form-header__description{
  .clear-block;

  font-size: 13px;
  line-height: 24px;

  padding: 30px;
}

.form__name{

  color: @light-green;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
}

.form__label{
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form__necessarily{
  font-size: 14px;
  line-height: 16px;
}
