.product-of-week{

}

.product-of-week__container{
  .padding-main;
  padding-top: 33px;
  padding-bottom: 33px;
}

.product-of-week__name{
  .clear-block;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.product-of-week__category{
  .clear-block;

  margin-bottom: 33px;

  color: @light-green;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.product-of-week__description{
  .clear-block;

  margin-bottom: 33px;

  font-size: 15px;
  line-height: 24px;
}

.table-properties{
  font-size: 15px;
  line-height: 24px;

  border-collapse: collapse;
}

.table-properties__tr{
  border-bottom: 1px solid #eee;
}

.table-properties__td:first-child{
  width: 100px;
}

.product-of-week__price{
  color: @dark-grey;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.product-of-week__button{
  font-size: 17px;
}
