.products-item{


}

.products-item__figure{
  display: block;
  .clear-block;
  width: 260px;
  height: 195px;
}

.products-item__name{
  .clear-block;
  margin-bottom: 17px;

  font-size: 17px;
  line-height: 24px;
}

.products-item__description{
  .clear-block;
  padding-bottom: 17px;
  margin-bottom: 27px;

  font-size: 13px;
  line-height: 30px;

  border-bottom: 1px solid #c7c7c7;
}

.products-item__price{
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.products-item__container{
  padding: 30px 27px;
  margin-bottom: 30px;

  border: 1px solid @background-light_grey;
}
