.production-process{
  border: 1px solid @background-light_grey
}

.production-process__container{
  padding-top: 30px;
  padding-bottom: 32px;
  padding-left: 33px;
  padding-right: 33px;
}

.production-process__container button{
  padding: 17px 20px;
}

.production-process__name{
  .clear-block;
  margin-bottom: 26px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.production-process__description{
  .clear-block;
  margin-bottom: 32px;

  font-size: 13px;
  line-height: 24px;
}

.production-process__button{
  font-size: 17px;
  line-height: 16px;
}
