.review{
  .padding-main;
}

.review__block-title{
  .clear-block;
  margin-bottom: 40px;

  font-size: 25px;
  line-height: 30px;
}

.rewiew__description{
  .clear-block;
  margin-bottom: 42px;

  font-size: 15px;
  line-height: 30px;
}

.review__fio{
  .clear-block;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.review__nickname{
  .clear-block;

    font-size: 17px;
    line-height: 30px;
    text-decoration: underline;
}
