@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff");
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff") format("woff");
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@viewport {
  width: device-width;
  zoom: "1.0";
}

.products {
  .padding-main;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  width: 100%;
  color: @dark-grey;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid @dark-grey;
  padding: 17px 49px;
}

.button:hover {
  color: #ffffff;
  border-color: #444444;
  background-color: #444444;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #444444;
  background-color: #444444;
}

@import "variables.less";
@import "blocks/body";
@import "blocks/HEADER.less";
@import "blocks/header-index.less";
@import "blocks/product-categories.less";
@import "blocks/product-of-week.less";
@import "blocks/table-properties.less";
@import "blocks/about-us.less";
@import "blocks/advantage.less";
@import "blocks/review.less";
@import "blocks/contacts.less";
@import "blocks/footer.less";
@import "blocks/modal.less";
@import "blocks/production-process.less";

/****** Catalog *****/

@import "blocks/products-item.less";
@import "blocks/order-header.less";
@import "blocks/form.less";
